sample_program
disorder.mjson.gz
disorder.mjson
disorder_add_protain.mjson
disorder2.mjson
__pycache__
venv
.idea
sample_program/design_related/disorder_add_protain.mjson
success_indent.mjson
error_indent.mjson
d2.mjson
sample program/design_related/disorder_add_protain.mjson
disorder_add_protain.mjson
success_data.mjson
error_indent.mjson
d2.mjson
success_indent.mjson

sample_program/mobi_related/mobiDB_human.mjson
mobiDB_human.json
success_data.json

index.html
plot_data.json

sample program/
cache/
result.txt
build/main/Tree-00.toc
build/main/PYZ-00.toc
build/main/PYZ-00.pyz
build/main/PKG-00.toc
build/main/PKG-00.pkg
build/main/EXE-00.toc
build/main/COLLECT-00.toc
build/main/Analysis-00.toc
Roboto-Regular.ttf
dist/main/screen_main_keyword.py
dist/main/screen_main_filter.py
dist/main/scipy/_lib/messagestream.cp37-win_amd64.pyd
dist/main/scipy/_lib/_fpumode.cp37-win_amd64.pyd
dist/main/scipy/_lib/_ccallback_c.cp37-win_amd64.pyd
dist/main/requirements.txt
dist/main/pywintypes37.dll
dist/main/pythoncom37.dll
dist/main/python37.dll
dist/main/pygame/transform.cp37-win_amd64.pyd
dist/main/pygame/time.cp37-win_amd64.pyd
dist/main/pygame/surflock.cp37-win_amd64.pyd
dist/main/pygame/surface.cp37-win_amd64.pyd
dist/main/kivymd/uix/fanscreenmanager.py
dist/main/kivymd/uix/expansionpanel.py
dist/main/kivymd/uix/dropdownitem.py
dist/main/kivymd/uix/dialog.py
dist/main/kivymd/uix/context_menu.py
dist/main/kivymd/uix/chip.py
dist/main/kivymd/uix/card.py
dist/main/kivymd/uix/button.py
dist/main/kivymd/uix/bottomsheet.py
dist/main/kivymd/uix/bottomnavigation.py
dist/main/kivymd/uix/behaviors/ripplebehavior.py
dist/main/kivymd/uix/behaviors/magic_behavior.py
dist/main/kivymd/uix/behaviors/hover_behavior.py
dist/main/kivy/graphics/fbo.cp37-win_amd64.pyd
dist/main/kivy/graphics/context_instructions.cp37-win_amd64.pyd
dist/main/kivy/graphics/context.cp37-win_amd64.pyd
dist/main/kivy/graphics/compiler.cp37-win_amd64.pyd
dist/main/kivy/graphics/cgl_backend/cgl_sdl2.cp37-win_amd64.pyd
dist/main/kivy/graphics/cgl_backend/cgl_mock.cp37-win_amd64.pyd
dist/main/kivy/graphics/cgl_backend/cgl_glew.cp37-win_amd64.pyd
dist/main/kivy/graphics/cgl_backend/cgl_gl.cp37-win_amd64.pyd
dist/main/kivy/graphics/cgl_backend/cgl_debug.cp37-win_amd64.pyd
dist/main/kivy/graphics/cgl.cp37-win_amd64.pyd
dist/main/kivy/graphics/buffer.cp37-win_amd64.pyd
dist/main/kivy/core/window/window_info.cp37-win_amd64.pyd
dist/main/kivy/core/window/_window_sdl2.cp37-win_amd64.pyd
dist/main/docutils/writers/s5_html/themes/default/print.css
dist/main/docutils/writers/s5_html/themes/default/pretty.css
dist/main/docutils/writers/s5_html/themes/default/outline.css
dist/main/docutils/writers/s5_html/themes/default/opera.css
dist/main/docutils/writers/s5_html/themes/default/iepngfix.htc
dist/main/api-ms-win-crt-time-l1-1-0.dll
dist/main/api-ms-win-crt-string-l1-1-0.dll
dist/main/api-ms-win-crt-stdio-l1-1-0.dll
dist/main/api-ms-win-crt-runtime-l1-1-0.dll
dist/main/api-ms-win-crt-process-l1-1-0.dll
dist/main/api-ms-win-crt-multibyte-l1-1-0.dll
dist/main/api-ms-win-crt-math-l1-1-0.dll
dist/main/api-ms-win-crt-locale-l1-1-0.dll
dist/main/api-ms-win-crt-heap-l1-1-0.dll
dist/main/api-ms-win-crt-filesystem-l1-1-0.dll
dist/main/api-ms-win-crt-environment-l1-1-0.dll
dist/main/api-ms-win-crt-convert-l1-1-0.dll
dist/main/api-ms-win-core-localization-l1-2-0.dll
dist/main/api-ms-win-core-libraryloader-l1-1-0.dll
dist/main/api-ms-win-core-interlocked-l1-1-0.dll
dist/main/api-ms-win-core-heap-l1-1-0.dll
dist/main/_ssl.pyd
dist/main/_socket.pyd
dist/main/_queue.pyd
dist/main/_overlapped.pyd
dist/main/MSVCP140.dll
dist/main/LICENSE.zlib.txt
dist/main/LICENSE.webp.txt
dist/main/LICENSE.tiff.txt
dist/main/LICENSE.png.txt
dist/main/LICENSE.opusfile.txt
dist/main/LICENSE.opus.txt
dist/main/LICENSE.ogg-vorbis.txt
dist/main/LICENSE.mpg123.txt
dist/main/LICENSE.modplug.txt
dist/main/LICENSE.jpeg.txt
dist/main/LICENSE.freetype.txt
dist/main/Include/pyconfig.h
dist/main/.gitignore
dist/main.exe
build/main/xref-main.html
build/main/warn-main.txt
build/main/main.exe.manifest
build/main/base_library.zip
build/main/Tree-06.toc
build/main/Tree-05.toc
build/main/Tree-04.toc
build/main/Tree-03.toc
build/main/Tree-02.toc
build/main/Tree-01.toc
kivymd/vendor/circleLayout/__init__.py
kivymd/vendor/__init__.py
kivymd/utils/fitimage.py
kivymd/utils/cropimage.py
kivymd/utils/asynckivy.py
kivymd/utils/__init__.py
kivymd/uix/useranimationcard.py
kivymd/uix/tooltip.py
kivymd/uix/toolbar.py
kivymd/uix/textfield.py
kivymd/uix/tab.py
kivymd/uix/stackfloatingbutton.py
kivymd/uix/spinner.py
dist/main/pygame/imageext.cp37-win_amd64.pyd
dist/main/pygame/image.cp37-win_amd64.pyd
dist/main/pygame/font.cp37-win_amd64.pyd
dist/main/pygame/fastevent.cp37-win_amd64.pyd
dist/main/pygame/event.cp37-win_amd64.pyd
dist/main/pygame/draw.cp37-win_amd64.pyd
dist/main/pygame/display.cp37-win_amd64.pyd
dist/main/pygame/constants.cp37-win_amd64.pyd
dist/main/pygame/color.cp37-win_amd64.pyd
dist/main/pygame/cdrom.cp37-win_amd64.pyd
dist/main/pygame/bufferproxy.cp37-win_amd64.pyd
dist/main/pygame/base.cp37-win_amd64.pyd
dist/main/pygame/_freetype.cp37-win_amd64.pyd
dist/main/libjpeg-8.dll
dist/main/libiomp5md.dll
dist/main/libfreetype-6.dll
dist/main/libcrypto-1_1-x64.dll
dist/main/libFLAC-8.dll
dist/main/lib2to3/PatternGrammar3.7.3.final.0.pickle
dist/main/lib2to3/PatternGrammar.txt
dist/main/lib2to3/Grammar3.7.3.final.0.pickle
dist/main/lib2to3/Grammar.txt
dist/main/kivymd/fonts/Roboto-Medium.ttf
dist/main/kivymd/fonts/Roboto-LightItalic.ttf
dist/main/kivymd/fonts/Roboto-Light.ttf
dist/main/kivymd/fonts/Roboto-Italic.ttf
dist/main/kivymd/fonts/Roboto-BoldItalic.ttf
dist/main/kivymd/fonts/Roboto-Bold.ttf
dist/main/kivymd/fonts/Roboto-BlackItalic.ttf
dist/main/kivymd/fonts/Roboto-Black.ttf
dist/main/kivymd/font_definitions.py
dist/main/kivymd/factory_registers.py
dist/main/kivymd/color_definitions.py
dist/main/kivymd/app.py
dist/main/kivymd/__init__.py
dist/main/docutils/parsers/rst/include/isomfrk.txt
dist/main/docutils/parsers/rst/include/isomfrk-wide.txt
dist/main/docutils/parsers/rst/include/isolat2.txt
dist/main/docutils/parsers/rst/include/isolat1.txt
dist/main/docutils/parsers/rst/include/isogrk4.txt
dist/main/docutils/parsers/rst/include/isogrk4-wide.txt
dist/main/docutils/parsers/rst/include/isogrk3.txt
dist/main/docutils/parsers/rst/include/isogrk2.txt
dist/main/docutils/parsers/rst/include/isogrk1.txt
dist/main/docutils/parsers/rst/include/isodia.txt
dist/main/docutils/parsers/rst/include/isocyr2.txt
dist/main/api-ms-win-core-handle-l1-1-0.dll
dist/main/api-ms-win-core-file-l2-1-0.dll
dist/main/api-ms-win-core-file-l1-2-0.dll
dist/main/api-ms-win-core-file-l1-1-0.dll
dist/main/api-ms-win-core-errorhandling-l1-1-0.dll
dist/main/api-ms-win-core-debug-l1-1-0.dll
dist/main/api-ms-win-core-datetime-l1-1-0.dll
dist/main/api-ms-win-core-console-l1-1-0.dll
dist/main/SDL2_ttf.dll
dist/main/SDL2_mixer.dll
dist/main/SDL2_image.dll
dist/main/SDL2.dll
dist/main/PIL/_imagingtk.cp37-win_amd64.pyd
dist/main/PIL/_imagingft.cp37-win_amd64.pyd
dist/main/LICENSE.FLAC.txt
kivymd/uix/snackbar.py
kivymd/uix/slidingpanel.py
kivymd/uix/slider.py
kivymd/uix/selectioncontrol.py
kivymd/uix/refreshlayout.py
kivymd/uix/progressloader.py
kivymd/uix/progressbar.py
kivymd/uix/picker.py
kivymd/uix/navigationdrawer.py
kivymd/uix/menu.py
kivymd/uix/managerswiper.py
kivymd/uix/list.py
kivymd/uix/label.py
kivymd/images/kivymd_logo.png
kivymd/images/kivymd_alpha.png
kivymd/images/kivymd_512.png
kivymd/images/kivy-logo-white-512.png
kivymd/images/ios_entr_ti.png
kivymd/images/ios_bg_mod_for_toast.png
kivymd/images/ios_bg_mod.png
kivymd/images/folder.png
kivymd/images/dialog_in_fade.png
kivymd/icon_definitions.py
kivymd/fonts/materialdesignicons-webfont.ttf
kivymd/fonts/Roboto-ThinItalic.ttf
kivymd/fonts/Roboto-Thin.ttf
dist/main/mkl_vml_cmpt.dll
dist/main/mkl_vml_avx512.dll
dist/main/mkl_vml_avx2.dll
dist/main/mkl_vml_avx.dll
dist/main/mkl_tbb_thread.dll
dist/main/mkl_sequential.dll
dist/main/mkl_scalapack_lp64.dll
dist/main/mkl_scalapack_ilp64.dll
dist/main/mkl_rt.dll
dist/main/mkl_pgi_thread.dll
dist/main/mkl_msg.dll
dist/main/mkl_mc3.dll
dist/main/mkl_mc.dll
dist/main/kivymd/uix/behaviors/elevation.py
dist/main/kivymd/uix/behaviors/backgroundcolorbehavior.py
dist/main/kivymd/uix/behaviors/__init__.py
dist/main/kivymd/uix/banner.py
dist/main/kivymd/uix/backdrop.py
dist/main/kivymd/uix/__init__.py
dist/main/kivymd/tools/update_icons.py
dist/main/kivymd/tools/packaging/pyinstaller/hook-kivymd.py
dist/main/kivymd/tools/packaging/pyinstaller/__init__.py
dist/main/kivymd/tools/packaging/__init__.py
dist/main/kivymd/tools/__init__.py
dist/main/kivymd/toast/kivytoast/kivytoast.py
dist/main/kivymd/toast/kivytoast/__init__.py
dist/main/kivy_install/modules/webdebugger.py
dist/main/kivy_install/modules/touchring.py
dist/main/kivy_install/modules/showborder.py
dist/main/kivy_install/modules/screen.py
dist/main/kivy_install/modules/recorder.py
dist/main/kivy_install/modules/monitor.py
dist/main/kivy_install/modules/keybinding.py
dist/main/kivy_install/modules/joycursor.py
dist/main/kivy_install/modules/inspector.py
dist/main/kivy_install/modules/cursor.py
dist/main/kivy_install/modules/console.py
dist/main/kivy_install/modules/_webdebugger.py
dist/main/kivy_install/modules/__init__.py
dist/main/kivy/core/text/text_layout.cp37-win_amd64.pyd
dist/main/kivy/core/text/_text_sdl2.cp37-win_amd64.pyd
dist/main/kivy/core/image/_img_sdl2.cp37-win_amd64.pyd
dist/main/kivy/core/clipboard/_clipboard_sdl2.cp37-win_amd64.pyd
dist/main/kivy/core/audio/audio_sdl2.cp37-win_amd64.pyd
dist/main/kivy/_event.cp37-win_amd64.pyd
dist/main/kivy/_clock.cp37-win_amd64.pyd
dist/main/intl-8.dll
dist/main/gstreamer-1.0-0.dll
dist/main/freetype.dll
dist/main/ffi-7.dll
dist/main/docutils/writers/s5_html/themes/small-white/pretty.css
dist/main/docutils/parsers/rst/include/isoamsr.txt
dist/main/docutils/parsers/rst/include/isoamso.txt
dist/main/docutils/parsers/rst/include/isoamsn.txt
dist/main/docutils/parsers/rst/include/isoamsc.txt
dist/main/docutils/parsers/rst/include/isoamsb.txt
dist/main/docutils/parsers/rst/include/isoamsa.txt
dist/main/docutils/parsers/rst/include/README.txt
dist/main/dist/main.exe
dist/main/config.py
dist/main/build/main/xref-main.html
dist/main/build/main/warn-main.txt
dist/main/api-ms-win-core-util-l1-1-0.dll
dist/main/api-ms-win-core-timezone-l1-1-0.dll
dist/main/api-ms-win-core-sysinfo-l1-1-0.dll
dist/main/api-ms-win-core-synch-l1-2-0.dll
dist/main/api-ms-win-core-synch-l1-1-0.dll
dist/main/api-ms-win-core-string-l1-1-0.dll
dist/main/api-ms-win-core-rtlsupport-l1-1-0.dll
dist/main/api-ms-win-core-profile-l1-1-0.dll
dist/main/api-ms-win-core-processthreads-l1-1-1.dll
dist/main/api-ms-win-core-processthreads-l1-1-0.dll
dist/main/_multiprocessing.pyd
dist/main/_lzma.pyd
dist/main/_hashlib.pyd
dist/main/_elementtree.pyd
dist/main/_decimal.pyd
dist/main/_ctypes.pyd
dist/main/_cffi_backend.cp37-win_amd64.pyd
dist/main/_bz2.pyd
dist/main/VCRUNTIME140.dll
dist/main/SDL_ttf.dll
dist/main/SDL_mixer.dll
dist/main/SDL_image.dll
dist/main/SDL.dll
dist/main/Roboto-Regular.ttf
dist/main/PIL/_imaging.cp37-win_amd64.pyd
kivymd/images/round_shadow-1.png
kivymd/images/round_shadow-0.png
kivymd/images/rec_st_shadow.atlas
kivymd/images/rec_st_shadow-2.png
kivymd/images/rec_st_shadow-1.png
kivymd/images/rec_st_shadow-0.png
kivymd/images/rec_shadow.atlas
kivymd/images/rec_shadow-1.png
kivymd/images/rec_shadow-0.png
kivymd/images/quad_shadow.atlas
kivymd/images/quad_shadow-2.png
kivymd/images/quad_shadow-1.png
kivymd/images/quad_shadow-0.png
dist/main/mkl_intel_thread.dll
dist/main/mkl_fft/_pydfti.cp37-win_amd64.pyd
dist/main/mkl_def.dll
dist/main/mkl_core.dll
dist/main/mkl_cdft_core.dll
dist/main/mkl_blacs_msmpi_lp64.dll
dist/main/mkl_blacs_msmpi_ilp64.dll
dist/main/mkl_blacs_mpich2_lp64.dll
dist/main/mkl_blacs_mpich2_ilp64.dll
dist/main/mkl_blacs_lp64.dll
dist/main/mkl_blacs_intelmpi_lp64.dll
dist/main/mkl_blacs_intelmpi_ilp64.dll
dist/main/mkl_blacs_ilp64.dll
dist/main/kivymd/images/kivymd_512.png
dist/main/kivymd/images/kivy-logo-white-512.png
dist/main/kivymd/images/ios_entr_ti.png
dist/main/kivymd/images/ios_bg_mod_for_toast.png
dist/main/kivymd/images/ios_bg_mod.png
dist/main/kivymd/images/folder.png
dist/main/kivymd/images/dialog_in_fade.png
dist/main/kivymd/icon_definitions.py
dist/main/kivymd/fonts/materialdesignicons-webfont.ttf
dist/main/kivymd/fonts/Roboto-ThinItalic.ttf
dist/main/kivymd/fonts/Roboto-Thin.ttf
dist/main/kivymd/fonts/Roboto-Regular.ttf
dist/main/kivymd/fonts/Roboto-MediumItalic.ttf
dist/main/docutils/parsers/rst/include/xhtml1-special.txt
dist/main/docutils/parsers/rst/include/xhtml1-lat1.txt
dist/main/docutils/parsers/rst/include/s5defs.txt
dist/main/docutils/parsers/rst/include/mmlextra.txt
dist/main/docutils/parsers/rst/include/mmlextra-wide.txt
dist/main/docutils/parsers/rst/include/mmlalias.txt
dist/main/docutils/parsers/rst/include/isotech.txt
dist/main/docutils/parsers/rst/include/isopub.txt
dist/main/docutils/parsers/rst/include/isonum.txt
dist/main/docutils/parsers/rst/include/isomscr.txt
dist/main/docutils/parsers/rst/include/isomscr-wide.txt
dist/main/docutils/parsers/rst/include/isomopf.txt
dist/main/docutils/parsers/rst/include/isomopf-wide.txt
dist/main/build/main/Tree-03.toc
dist/main/build/main/Tree-02.toc
dist/main/build/main/Analysis-00.toc
dist/main/base_library.zip
dist/main/application.py
dist/main/api-ms-win-crt-utility-l1-1-0.dll
dist/main/api-ms-win-core-processenvironment-l1-1-0.dll
dist/main/api-ms-win-core-namedpipe-l1-1-0.dll
dist/main/_asyncio.pyd
kivymd/toast/kivytoast/kivytoast.py
kivymd/toast/kivytoast/__init__.py
kivymd/toast/androidtoast/androidtoast.py
kivymd/toast/androidtoast/__init__.py
kivymd/toast/__init__.py
kivymd/theming_dynamic_text.py
kivymd/theming.py
kivymd/stiffscroll/__init__.py
kivymd/material_resources.py
kivymd/images/transparent.png
kivymd/images/swipe_shadow.png
kivymd/images/round_shadow.atlas
kivymd/images/round_shadow-2.png
dist/main/pyexpat.pyd
dist/main/psutil/_psutil_windows.cp37-win_amd64.pyd
dist/main/numpy/random/mtrand.cp37-win_amd64.pyd
dist/main/numpy/linalg/lapack_lite.cp37-win_amd64.pyd
dist/main/numpy/linalg/_umath_linalg.cp37-win_amd64.pyd
dist/main/kivymd/utils/fitimage.py
dist/main/kivymd/utils/cropimage.py
dist/main/kivymd/utils/asynckivy.py
dist/main/kivymd/utils/__init__.py
dist/main/kivymd/uix/useranimationcard.py
dist/main/kivymd/uix/tooltip.py
dist/main/kivymd/uix/toolbar.py
dist/main/kivymd/uix/textfield.py
dist/main/kivymd/uix/tab.py
dist/main/kivymd/uix/stackfloatingbutton.py
dist/main/kivymd/uix/spinner.py
dist/main/kivy_install/data/glsl/default.vs
dist/main/kivy_install/data/glsl/default.png
dist/main/kivy_install/data/glsl/default.fs
dist/main/kivy_install/data/fonts/RobotoMono-Regular.ttf
dist/main/kivy_install/data/fonts/Roboto-Regular.ttf
dist/main/kivy_install/data/fonts/Roboto-Italic.ttf
dist/main/kivy_install/data/fonts/Roboto-BoldItalic.ttf
dist/main/kivy_install/data/fonts/Roboto-Bold.ttf
dist/main/kivy_install/data/fonts/DejaVuSans.ttf
dist/main/kivy/weakproxy.cp37-win_amd64.pyd
dist/main/kivy/properties.cp37-win_amd64.pyd
dist/main/kivy/lib/gstplayer/_gstplayer.cp37-win_amd64.pyd
dist/main/kivy/graphics/vertex_instructions.cp37-win_amd64.pyd
dist/main/docutils/writers/latex2e/default.tex
dist/main/docutils/writers/html5_polyglot/template.txt
dist/main/docutils/writers/html5_polyglot/plain.css
dist/main/docutils/writers/html5_polyglot/minimal.css
dist/main/docutils/writers/html5_polyglot/math.css
dist/main/docutils/writers/html4css1/template.txt
dist/main/docutils/writers/html4css1/html4css1.css
dist/main/docutils/parsers/rst/include/xhtml1-symbol.txt
dist/main/build/main/Tree-01.toc
dist/main/build/main/Tree-00.toc
dist/main/build/main/PYZ-00.toc
dist/main/build/main/PYZ-00.pyz
dist/main/build/main/PKG-00.toc
dist/main/build/main/PKG-00.pkg
dist/main/api-ms-win-core-memory-l1-1-0.dll
kivymd/vendor/navigationdrawer/__init__.py
kivymd/vendor/circularTimePicker/__init__.py
dist/main/unicodedata.pyd
dist/main/ucrtbase.dll
dist/main/tiff.dll
dist/main/theme.kv
dist/main/tbb.dll
dist/main/select.pyd
dist/main/screen_wait_search_score.py
dist/main/screen_wait_search_keyword.py
dist/main/screen_wait_main.py
dist/main/screen_out_show_uniplot.py
dist/main/screen_out_score_plot.py
dist/main/screen_out_result_button.py
dist/main/screen_out_main.py
dist/main/kivymd/uix/slider.py
dist/main/kivymd/uix/selectioncontrol.py
dist/main/kivymd/uix/refreshlayout.py
dist/main/kivymd/uix/progressloader.py
dist/main/kivymd/uix/progressbar.py
dist/main/kivymd/uix/picker.py
dist/main/kivymd/uix/navigationdrawer.py
dist/main/kivymd/uix/menu.py
dist/main/kivymd/uix/managerswiper.py
dist/main/kivymd/uix/list.py
dist/main/kivymd/uix/label.py
dist/main/kivymd/uix/imagelist.py
dist/main/kivymd/uix/filemanager.py
dist/main/kivy_install/data/keyboards/en_US.json
dist/main/kivy_install/data/keyboards/de_CH.json
dist/main/kivy_install/data/keyboards/de.json
dist/main/kivy_install/data/keyboards/azerty.json
dist/main/kivy_install/data/images/testpattern.png
dist/main/kivy_install/data/images/image-loading.gif
dist/main/kivy_install/data/images/defaulttheme.atlas
dist/main/kivy_install/data/images/defaulttheme-0.png
dist/main/kivy_install/data/images/defaultshape.png
dist/main/kivy_install/data/images/cursor.png
dist/main/kivy_install/data/images/background.jpg
dist/main/kivy_install/data/glsl/header.vs
dist/main/kivy_install/data/glsl/header.fs
dist/main/docutils/writers/s5_html/themes/default/framing.css
dist/main/docutils/writers/s5_html/themes/default/blank.gif
dist/main/docutils/writers/s5_html/themes/big-white/pretty.css
dist/main/docutils/writers/s5_html/themes/big-white/framing.css
dist/main/docutils/writers/s5_html/themes/big-black/pretty.css
dist/main/docutils/writers/s5_html/themes/big-black/framing.css
dist/main/docutils/writers/s5_html/themes/big-black/__base__
dist/main/docutils/writers/s5_html/themes/README.txt
dist/main/docutils/writers/pep_html/template.txt
dist/main/build/main/main.exe.manifest
dist/main/build/main/base_library.zip
dist/main/_win32sysloader.pyd
kivymd/uix/imagelist.py
kivymd/uix/filemanager.py
kivymd/uix/fanscreenmanager.py
kivymd/uix/expansionpanel.py
kivymd/uix/dropdownitem.py
kivymd/uix/dialog.py
kivymd/uix/context_menu.py
kivymd/uix/chip.py
kivymd/uix/card.py
kivymd/uix/button.py
kivymd/uix/bottomsheet.py
kivymd/uix/bottomnavigation.py
kivymd/uix/behaviors/ripplebehavior.py
kivymd/fonts/Roboto-Regular.ttf
kivymd/fonts/Roboto-MediumItalic.ttf
kivymd/fonts/Roboto-Medium.ttf
kivymd/fonts/Roboto-LightItalic.ttf
kivymd/fonts/Roboto-Light.ttf
kivymd/fonts/Roboto-Italic.ttf
kivymd/fonts/Roboto-BoldItalic.ttf
kivymd/fonts/Roboto-Bold.ttf
kivymd/fonts/Roboto-BlackItalic.ttf
kivymd/fonts/Roboto-Black.ttf
kivymd/font_definitions.py
kivymd/factory_registers.py
kivymd/color_definitions.py
dist/main/mkl_avx512.dll
dist/main/mkl_avx2.dll
dist/main/mkl_avx.dll
dist/main/mfc140u.dll
dist/main/markupsafe/_speedups.cp37-win_amd64.pyd
dist/main/main.spec
dist/main/main.py
dist/main/main.exe.manifest
dist/main/main.exe
dist/main/loading_bouningen.gif
dist/main/libzstd.dll
dist/main/libwebp-7.dll
dist/main/libwebp-5.dll
dist/main/kivymd/toast/androidtoast/androidtoast.py
dist/main/kivymd/toast/androidtoast/__init__.py
dist/main/kivymd/toast/__init__.py
dist/main/kivymd/theming_dynamic_text.py
dist/main/kivymd/theming.py
dist/main/kivymd/stiffscroll/__init__.py
dist/main/kivymd/material_resources.py
dist/main/kivymd/images/transparent.png
dist/main/kivymd/images/swipe_shadow.png
dist/main/kivymd/images/round_shadow.atlas
dist/main/kivymd/images/round_shadow-2.png
dist/main/kivymd/images/round_shadow-1.png
dist/main/kivy_install/data/style.kv
dist/main/kivy_install/data/settings_kivy.json
dist/main/kivy_install/data/logo/kivy-icon-64.png
dist/main/kivy_install/data/logo/kivy-icon-512.png
dist/main/kivy_install/data/logo/kivy-icon-48.png
dist/main/kivy_install/data/logo/kivy-icon-32.png
dist/main/kivy_install/data/logo/kivy-icon-256.png
dist/main/kivy_install/data/logo/kivy-icon-24.png
dist/main/kivy_install/data/logo/kivy-icon-16.png
dist/main/kivy_install/data/logo/kivy-icon-128.png
dist/main/kivy_install/data/keyboards/qwertz.json
dist/main/kivy_install/data/keyboards/qwerty.json
dist/main/kivy_install/data/keyboards/fr_CH.json
dist/main/kivy/graphics/vertex.cp37-win_amd64.pyd
dist/main/kivy/graphics/vbo.cp37-win_amd64.pyd
dist/main/kivy/graphics/transformation.cp37-win_amd64.pyd
dist/main/kivy/graphics/texture.cp37-win_amd64.pyd
dist/main/kivy/graphics/tesselator.cp37-win_amd64.pyd
dist/main/docutils/writers/s5_html/themes/small-black/__base__
dist/main/docutils/writers/s5_html/themes/medium-white/pretty.css
dist/main/docutils/writers/s5_html/themes/medium-white/framing.css
dist/main/docutils/writers/s5_html/themes/medium-black/pretty.css
dist/main/docutils/writers/s5_html/themes/medium-black/__base__
dist/main/docutils/writers/s5_html/themes/default/slides.js
dist/main/docutils/writers/s5_html/themes/default/slides.css
dist/main/docutils/writers/s5_html/themes/default/s5-core.css
dist/main/docutils/writers/pep_html/pep.css
dist/main/docutils/writers/odf_odt/styles.odt
dist/main/docutils/writers/latex2e/xelatex.tex
dist/main/docutils/writers/latex2e/titlepage.tex
dist/main/docutils/parsers/rst/include/isocyr1.txt
dist/main/docutils/parsers/rst/include/isobox.txt
dist/main/build/main/EXE-00.toc
kivymd/uix/behaviors/magic_behavior.py
kivymd/uix/behaviors/hover_behavior.py
kivymd/uix/behaviors/elevation.py
kivymd/uix/behaviors/backgroundcolorbehavior.py
kivymd/uix/behaviors/__init__.py
kivymd/uix/banner.py
kivymd/uix/backdrop.py
kivymd/uix/__init__.py
kivymd/tools/update_icons.py
kivymd/tools/packaging/pyinstaller/hook-kivymd.py
kivymd/tools/packaging/pyinstaller/__init__.py
kivymd/tools/packaging/__init__.py
dist/main/pygame/scrap.cp37-win_amd64.pyd
dist/main/pygame/rwobject.cp37-win_amd64.pyd
dist/main/pygame/rect.cp37-win_amd64.pyd
dist/main/pygame/pixelcopy.cp37-win_amd64.pyd
dist/main/pygame/pixelarray.cp37-win_amd64.pyd
dist/main/pygame/overlay.cp37-win_amd64.pyd
dist/main/pygame/mouse.cp37-win_amd64.pyd
dist/main/pygame/mixer_music.cp37-win_amd64.pyd
dist/main/pygame/mixer.cp37-win_amd64.pyd
dist/main/pygame/math.cp37-win_amd64.pyd
dist/main/pygame/mask.cp37-win_amd64.pyd
dist/main/pygame/key.cp37-win_amd64.pyd
dist/main/pygame/joystick.cp37-win_amd64.pyd
dist/main/libvorbisfile-3.dll
dist/main/libvorbis-0.dll
dist/main/libtiff-5.dll
dist/main/libssl-1_1-x64.dll
dist/main/libpng16.dll
dist/main/libpng16-16.dll
dist/main/libopusfile-0.dll
dist/main/libopus-0.dll
dist/main/libogg-0.dll
dist/main/libmpg123-0.dll
dist/main/libmodplug-1.dll
dist/main/liblzma.dll
dist/main/libjpeg-9.dll
dist/main/kivymd/images/rec_st_shadow.atlas
dist/main/kivymd/images/rec_st_shadow-2.png
dist/main/kivymd/images/rec_st_shadow-1.png
dist/main/kivymd/images/rec_st_shadow-0.png
dist/main/kivymd/images/rec_shadow.atlas
dist/main/kivymd/images/rec_shadow-1.png
dist/main/kivymd/images/rec_shadow-0.png
dist/main/kivymd/images/quad_shadow.atlas
dist/main/kivymd/images/quad_shadow-2.png
dist/main/kivymd/images/quad_shadow-1.png
dist/main/kivymd/images/quad_shadow-0.png
dist/main/kivymd/images/kivymd_logo.png
dist/main/kivymd/images/kivymd_alpha.png
dist/main/kivy/graphics/svg.cp37-win_amd64.pyd
dist/main/kivy/graphics/stencil_instructions.cp37-win_amd64.pyd
dist/main/kivy/graphics/shader.cp37-win_amd64.pyd
dist/main/kivy/graphics/scissor_instructions.cp37-win_amd64.pyd
dist/main/kivy/graphics/opengl_utils.cp37-win_amd64.pyd
dist/main/kivy/graphics/opengl.cp37-win_amd64.pyd
dist/main/kivy/graphics/instructions.cp37-win_amd64.pyd
dist/main/kivy/graphics/gl_instructions.cp37-win_amd64.pyd
dist/main/gobject-2.0-0.dll
dist/main/gmodule-2.0-0.dll
dist/main/glib-2.0-0.dll
dist/main/glew32.dll
dist/main/docutils/writers/s5_html/themes/small-white/framing.css
dist/main/docutils/writers/s5_html/themes/small-black/pretty.css
dist/main/api-ms-win-crt-conio-l1-1-0.dll
kivymd/app.py
kivymd/__init__.py
dist/main/zlib1.dll
dist/main/zlib.dll
dist/main/win32wnet.pyd
dist/main/win32ui.pyd
dist/main/win32trace.pyd
dist/main/win32pdh.pyd
dist/main/win32gui.pyd
dist/main/win32file.pyd
dist/main/win32evtlog.pyd
dist/main/win32com/shell/shell.pyd
dist/main/win32api.pyd
dist/main/numpy/fft/fftpack_lite.cp37-win_amd64.pyd
dist/main/numpy/core/_multiarray_umath.cp37-win_amd64.pyd
dist/main/numpy/core/_multiarray_tests.cp37-win_amd64.pyd
dist/main/numpy/_mklinit.cp37-win_amd64.pyd
dist/main/mkl_vml_mc3.dll
dist/main/mkl_vml_mc2.dll
dist/main/mkl_vml_mc.dll
dist/main/mkl_vml_def.dll
dist/main/kivymd/vendor/navigationdrawer/__init__.py
dist/main/kivymd/vendor/circularTimePicker/__init__.py
dist/main/kivymd/vendor/circleLayout/__init__.py
dist/main/kivymd/vendor/__init__.py
dist/main/kivymd/uix/snackbar.py
dist/main/kivymd/uix/slidingpanel.py
dist/main/kivymd/images/round_shadow-0.png
kivymd/tools/__init__.py
main.spec
hook-kivymd.py
