sample_program/wait2.gif
sample_program/wait2.zip
disorder.mjson.gz
disorder.mjson
disorder_add_protain.mjson
disorder2.mjson
__pycache__
venv
.idea
sample_program/design_related/disorder_add_protain.mjson
success_indent.mjson
error_indent.mjson
d2.mjson
sample program/design_related/disorder_add_protain.mjson
disorder_add_protain.mjson
success_data.mjson
error_indent.mjson
d2.mjson
success_indent.mjson

sample_program/mobi_related/mobiDB_human.mjson
mobiDB_human.json
success_data.json

index.html
plot_data.json

sample program/
cache/
result.txt
