<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>MobiDB: {{ data.acc }}</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.4"></script>
        <script type="text/javascript" src="https://github.com/nagix/chartjs-plugin-colorschemes/releases/download/v0.4.0/chartjs-plugin-colorschemes.min.js"></script>
    </head>

    <body>
        
        <div style="width:90%;">
            <canvas id="myChart" role="img"></canvas>
            <button onclick="resetZoom()" style="text-align:center;">Reset Zoom</button>
        </div>
        <script>
 
        const generatePointMakerColor = (points => {
            const bgColors = [];
            points.forEach(e => {
                const transparency =  String(1 - (10 - Math.floor(e * 10)) / 10)
                bgColors.push(`rgba(122,87,209,${transparency})`);
            });
            return bgColors;
        });

        let ctx = document.getElementById('myChart');

        {% autoescape false %}
        const label = {{ data.seq }};
        {% endautoescape %}
        const scores = {{ data.score }};
        const protainName = "{{ data.protain_names }}";
        const acc = "{{ data.acc }}";
        const th = {{ data.threshold }};
        const percentage = {{ data.percentage }};
        const thresholdPoints = scores.map(() => th);

        const pointBgColors = generatePointMakerColor(scores);
        const myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: label,
                datasets: [
                    {
                        label: "# scores",
                        borderColor: "rgb(75, 192, 192)",
                        data: scores,
                        fill: false,
                        pointHoverRadius: 5,
                        pointBackgroundColor: pointBgColors,
                    },
                    {
                        label: "# threshold",
                        data: thresholdPoints,
                        pointRadius: 0,  // Do not show marker
                        pointHoverRadius: 0,  // Do not show marker if hover
                        fill: false,
                    }
                ]
            },
            options: {
                responsive: true,
                plugins: {
                    colorschemes: { // https://nagix.github.io/chartjs-plugin-colorschemes/
                        scheme: 'brewer.SetTwo4'
                    },
                    zoom: {
                        pan: {
                            enabled: true,
                            mode: 'xy'
                        },
                        zoom: {
                            enabled: true,
                            //drag: true,
                            mode: 'xy',
                        }
                    },
                },
                title: {
                    display: true,
                    fontFamily: "sans-serif",
                    fontSize: 20,
                    text: [
                        `ACC: ${acc}`,
                        `Protain Name: ${protainName}`,
                        `Percentage(x >= ${th}): ${percentage}%`
                    ],
                },
                scales: {
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: "Score",
                            fontSize: 18
                        },
                        ticks: {
                            min: 0,
                            max: 1,
                        }
                    }],
                    xAxes: [{
                        //display: true,
                        scaleLabel: {
                            display: true,
                            labelString: "Sequence",
                            fontSize: 18,
                        },
                    }],
                },
            },
        });
        window.resetZoom = function() {
			myLineChart.resetZoom();
		};
        </script>
    </body>
</html>