<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>MobiDB: {{ data.acc }}</title>
 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.css" />
        <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400' rel='stylesheet' type='text/css'>
        <style>
            body {
                font-family: 'Noto Sans', sans-serif;
            };
            .dygraph-label.dygraph-title {
                padding: 5%;
            }
            .dygraph-title {
                font-size: 18px;
            }
            .dygraph-legend {
                margin-top: -30px;
                font-size: 18px;
                font-weight: 200;
            }
        </style>
    </head>

    <body>
        <div id="graphdiv" style="width: 100%;"></div>

        <script type="text/javascript">
        {% autoescape false %}
        const label = {{ data.seq }};
        {% endautoescape %}
        const scores = {{ data.score }};
        const protainName = "{{ data.protain_names }}";
        const acc = "{{ data.acc }}";
        const th = {{ data.threshold }};
        const percentage = {{ data.percentage }};

        const points = (() => {
                result = [];
                scores.forEach((e, i) => {
                    result.push([i, e, th]);
                });
                return result;
        });

        const generateColoredCircle = (g, series, ctx, cx, cy, color, radius, idx) => {
            const  y = g.getValue(idx, 1);
            const transparency =  String(1 - (10 - Math.floor(y * 10)) / 10)
            const bgColors = `rgba(122,87,209,${transparency})`;
            
            ctx.save();
            ctx.fillStyle = bgColors;
            ctx.lineWidth = 0.4;
            ctx.strokeStyle = "#880088";
            ctx.stroke();
            ctx.beginPath();
            ctx.arc(cx, cy, radius + 1, 2 * Math.PI, false);
            ctx.closePath();
            ctx.fill();
        };

        const g = new Dygraph(
            document.getElementById("graphdiv"),
              points,
              {
                labels: ["x", "point", "threshold"],
                valueRange: [-0.1, 1.1],
                legend: 'always',
                title: `ACC: ${acc}<br />Protain Name:${protainName}<br />Percentage(x >= ${th}): ${percentage}%`,
                titleHeight: 60,
                xlabel: "Sequence",
                ylabel: "Score",
                colors: ["#00A0B0", "#6A4A3C",],
                axes: {
                       x: {
                       	 ticker: function(min, max, pixels) {
                                result = [];
                                label.forEach((e, i) => {
                                     result.push({ label_v: i, label: e });
                                });
                         	 return result;
                        }
                    }
                },
                series: {
                    point: {
                        drawPointCallback: generateColoredCircle,  // 表示するポイントの色を変える
                        rollPeriod: 1,
                        drawPoints: true,
                    }
                }
              }
          );
        </script>
    </body>
</html>